@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 13% 95%;
    --foreground: 300 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 300 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 300 10% 10%;
    --primary: 300 68% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 300 10% 90%;
    --secondary-foreground: 300 10% 10%;
    --muted: 300 10% 90%;
    --muted-foreground: 300 10% 45%;
    --accent: 300 80% 80%;
    --accent-foreground: 300 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 10% 85%;
    --input: 300 10% 88%;
    --ring: 300 68% 56%;
    --radius: 0.8rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Sidebar colors */
    --sidebar-background: 300 5% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 300 80% 77%;
    --sidebar-primary-foreground: 300 50% 10%;
    --sidebar-accent: 300 5% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 300 5% 25%;
    --sidebar-ring: 300 80% 77%;
  }

  .dark {
    --background: 300 5% 10%;
    --foreground: 0 0% 98%;
    --card: 300 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 300 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 80% 77%;
    --primary-foreground: 300 50% 10%;
    --secondary: 300 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 300 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 300 80% 80%;
    --accent-foreground: 300 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 5% 20%;
    --input: 300 5% 20%;
    --ring: 300 80% 77%;

    /* Sidebar colors */
    --sidebar-background: 300 5% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 300 80% 77%;
    --sidebar-primary-foreground: 300 50% 10%;
    --sidebar-accent: 300 5% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 300 5% 25%;
    --sidebar-ring: 300 80% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
